@model FinalProject.Models.ingresos
@using FinalProject.Models
@{
    ViewBag.Title = "IndexIngresos";
}

<h2>IndexIngresos</h2>

@using (Html.BeginForm("indexIngresos", "Ingresos", FormMethod.Post, new { enctype = "/form-data" }))
{
<div>


    @Html.Label("ID:")
    @Html.TextBoxFor(i => i.id, new { @class = "form-control", placeholder = "Insert ID" })
    @Html.ValidationMessageFor(m => m.id, "", new { @class = "text-danger" })

    @Html.Label("Nombre Paciente:")
    @Html.TextBoxFor(s => s.nPaciente, new { @class = "form-control", placeholder = "Insert nombre paciente" })
    @Html.ValidationMessageFor(m => m.nPaciente, "", new { @class = "text-danger" })

    @Html.Label("Numero habitacion:")
    @Html.TextBoxFor(s => s.NHabitacion, new { @class = "form-control", placeholder = "Insert # hab" })
    @Html.ValidationMessageFor(m => m.NHabitacion, "", new { @class = "text-danger" })

    @Html.Label("Fecha consulta:")
    @Html.TextBoxFor(q => q.FechaInicio, new { @class = "form-control", placeholder = "fecha" })
    @Html.ValidationMessageFor(m => m.FechaInicio, "", new { @class = "text-danger" })


</div>


    <input type="submit" value="SEND" />


}

