@model FinalProject.Models.patient
@using FinalProject.Models
@{
    ViewBag.Title = "IndexConsulta";
}

<h2>Hacer nueva consulta</h2>

<h3>Datos del paciente</h3>


@using (Html.BeginForm("IndexConsulta", "Consultas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div>
    @Html.Label("ID:")
    @Html.TextBoxFor(i => i.ID, new { @class = "form-control", placeholder = "Insert your ID" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    @Html.Label("Name:")
    @Html.TextBoxFor(s => s.Name, new { @class = "form-control", placeholder = "Insert your name" })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    <div>
        @Html.Label("insurance")
        @Html.RadioButtonFor(a => a.insurance, "insurance")
        @Html.Label("not-insurance")
        @Html.RadioButtonFor(a => a.insurance, "not-insurance")
    </div>

    @Html.Label("Insurance:")
    @Html.TextBoxFor(q => q.insurance, new { @class = "form-control", placeholder = "Insert your Insurance company" })
    @Html.ValidationMessageFor(m => m.insurance, "", new { @class = "text-danger" })


</div>
 
    

   
    <input type="submit" value="SEND" />
}