@model FinalProject.Models.consulta
@using FinalProject.Models
@{
    ViewBag.Title = "IndexConsulta";
}

<h2>Registrar nueva consulta</h2>


@using (Html.BeginForm("indexConsulta", "Consultas", FormMethod.Post, new { enctype = "/form-data" }))
{
<div>


    @Html.Label("ID:")
    @Html.TextBoxFor(i => i.id, new { @class = "form-control", placeholder = "Insert ID" })
    @Html.ValidationMessageFor(m => m.id, "", new { @class = "text-danger" })

    @Html.Label("Nombre Paciente:")
    @Html.TextBoxFor(s => s.nPaciente, new { @class = "form-control", placeholder = "Insert nombre paciente" })
    @Html.ValidationMessageFor(m => m.nPaciente, "", new { @class = "text-danger" })


    @Html.Label("Cedula paciente:")
    @Html.TextBoxFor(q => q.CedulaPaciente, new { @class = "form-control", placeholder = "Insert cedula paciente" })
    @Html.ValidationMessageFor(m => m.CedulaPaciente, "", new { @class = "text-danger" })


    @Html.Label("Nombre doctor:")
    @Html.TextBoxFor(q => q.nDoctor, new { @class = "form-control", placeholder = "Nombre doctor" })
    @Html.ValidationMessageFor(m => m.nDoctor, "", new { @class = "text-danger" })


    @Html.Label("Fecha consulta:")
    @Html.TextBoxFor(q => q.Fecha, new { @class = "form-control", placeholder = "fecha" })
    @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })


</div>


    <input type="submit" value="SEND" />


}